// Colors
// $green:         #1BB3A0;
// $darkest-green: #2C3938;
// $bg-green:      #EBF1F1;
// $gray:          #D4D4D4;
// $light-gray:    #e8e8e8;
// $mid-gray:      #B8B8B8;
// $dark-gray:     #686868;

// Gradients
// $grad-white-to-gray: linear-gradient(-180deg, #FFF 0%, lighten($gray, 15%) 100%);

// Fonts
// @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);
$family-default: 'Source Sans Pro', Helvetica, Arial, sans-serif;

body {
  color: #52575c;
  font-family: $family-default;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 1.8em;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h1 {
  font-size: 36px;
  margin-bottom: 35px;
  // margin-bottom: 1em;
}

h2 {
  font-size: 28px;
  margin-bottom: 1.8em;
}

p {
  //color: #f35858;
  // margin-bottom: 1em;
}

a {

  &:hover {
    color: #337ab7;
    text-decoration: none;
  }
}

aside, section {
  margin-bottom: 2.5em;
}

aside {
  strong {
    font-weight: 400;
  }

  ul {
    padding: 0 !important;
    font-size: 18px;
    list-style: none;
  }
}
