// Colors
// $green:         #1BB3A0;
// $darkest-green: #2C3938;
// $bg-green:      #EBF1F1;
// $gray:          #D4D4D4;
// $light-gray:    #e8e8e8;
// $mid-gray:      #B8B8B8;
// $dark-gray:     #686868;

// Gradients
// $grad-white-to-gray: linear-gradient(-180deg, #FFF 0%, lighten($gray, 15%) 100%);

// Fonts
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);
$family-default: 'Source Sans Pro', Helvetica, Arial, sans-serif;

body {
  color: #52575c;
  font-family: $family-default;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 1.8em;
  background-color: #fff;
}

h1, h2, p, button, table {
  margin: 1em 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

a {

  &:hover {
    color: #337ab7;
    text-decoration: none;
  }

}

strong {
  font-weight: 400;
}

table {
  box-sizing: border-box;

  tr:first-of-type {
    border-bottom: 1px solid #eee;
  }

  th, td {
    padding: 1em;
    text-align: left;
  }
}

aside, section {
  margin-bottom: 2.5em;
}

.txt-center {
  text-align: center;
}

img.loader {
  width: 3em;
}
