<section class="txt-center col-sm-10 col-sm-offset-1">
  <h1>Upload a PDF, Microsoft Word or HTML document</h1>

  <form>
    <button type="button" ng-click="read()" class="btn btn-default btn-lg">Read sample document</button>
    <button type="button" class="btn btn-default btn-lg" ngf-select="upload($files, $invalidFiles)" multiple accept=".doc|.docx|.pdf|.html|.htm" ngf-max-size="1MB">Upload documents</button>

    <ul>
      <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$errorParam}}
        <span class="progress" ng-show="f.progress >= 0">
          <div style="width:{{f.progress}}%" ng-bind="f.progress + '%'"></div>
        </span>
      </li>
      <li ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
    </ul>
    <p>{{errorMsg}}</p>
  </form>
  <!-- <p>Upload a PDF, Microsoft Word or HTML document (1 MB maximum size).</p> -->
</section>

<aside class="txt-center col-sm-10 col-sm-offset-1">
    <img class="loader" ng-hide="documents" src="../watson.gif">
    <p ng-show="documents">So far, I've read {{documents.length}} document<span ng-show="documents.length > 1">s</span> and I've learned {{answers}} answer<span ng-show="answers > 1">s</span>.</p>

    <table class="col-sm-12" ng-show="documents.length > 0">
      <tr>
        <th>Name</th>
        <th>Author</th>
      </tr>
      <tr ng-repeat="document in documents">
        <td>{{document.bibliography}}</td>
        <td>{{document.author}}</td>
      </tr>
    </table>
</aside>
